@import '_vars';

h1, h2, h3, h4, p { 
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.wrapper {  
    margin: 0 auto; 
    width: 1280px;
}

.mainHeader {
     max-width: 100%;
     background-color: $main-gray;
     font-size: 3vh;
     height: 100px;

     h1 {
         text-align: center;
         padding-top: 40px;
     }
}

.product-one {
    display: flex;
    margin: 50px auto 0 auto;
    max-width: 100%;
    height: 130px;

    h1 {
        width: 30%;
        background-color: $main-gray;
        font-size: 2vh;
        font-weight: 600;
        padding-top: 45px;
        padding-left: 10px;
    }

    img {
        max-width: 80%;
    }

}

#introText {
    font-size: 3vh;
    border-bottom: $main-mint 2px solid;
    margin-top: 50px;
}

.borderL {
    width: 120px;
    margin: 0 auto;
}

.upperInfo { 
    display: flex; 
    justify-content: space-around;
    max-width: 100%;
    height: 100px;
    margin-top: 50px;

    img {
        width: 50px;
        height: 50px;
    }

    p {
        width: 90px;
    }
}

.belowInfo {
    display: flex; 
    justify-content: space-around;
    max-width: 100%;
    height: 100px;
    margin-top: 50px;

    img {
        width: 50px;
        height: 50px;
    }

    p {
        width: 90px;
    }
}

@media screen and (min-width: 48em) {
    .mainHeader {
        height: 150px;
        font-size: 6vh;
    }
    .product-one {
        height: 200px;
        margin-top: 70px;

        h1 {
            font-size: 5vh;
            height: 200px;
            padding-top: 50px;
        }

        img {
            height: 250px;
            padding-left: 30px;
        }
    }

    #introText {
        font-size: 6vh;
    }

    .borderL {
        width: 240px;
        margin-top: 150px;
    } 

    .upperInfo {
        height: 250px;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
        }
        p {
            width: 120px;
            padding-top: 20px;
            font-size: 20px;
        }
    }

    .belowInfo {
        height: 250px;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
        }

        p {
            width: 120px;
            padding-top: 20px;
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 73.125em) {
    .product-one {
        img {
            height: 300px;
            padding-left: 50px;
        }
        h1 {
            width: 30%;
            font-size: 9vh;
            height: 250px;
        }
    }

    .borderL { 
        width: 370px;
        margin-top: 250px;
    }

    #introText {
        font-size: 9vh;
    }
}